<div class="about-container">
  <div class="text-container">
    <h2>O nama</h2>
    <p>Naša stranica je posvećena ljubiteljima parfema. Strastveni smo u pronalaženju najboljih mirisa koji zadovoljavaju sve vaše potrebe i želje.</p>
    <p>Svaki naš proizvod je pažljivo odabran, kako bi vam ponudio samo najkvalitetnije i najpopularnije parfeme. Naša misija je omogućiti vam jednostavan i ugodan shopping iskustvo, sa bogatom ponudom mirisa koji odgovaraju vašem stilu.</p>
    <p>Naš tim je uvijek tu da vam pomogne da pronađete savršen parfem i osigurate da vaše iskustvo kupovine bude savršeno.</p>
  </div>
  <div class="image-container">
    <img src="https://i.pinimg.com/736x/4c/5e/d9/4c5ed915227ed6ac713b44e69245f633.jpg" alt="Parfemi" />
  </div>
</div>
